In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv) import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
from subprocess import check_output

In [2]:
pwd

'C:\\Users\\txpet\\Desktop\\rice MBA\\D2K\\data science projects\\data'

In [3]:
cad = pd.read_csv("cad.csv")

In [4]:
cad.head(5)

,Unnamed: 0,EventNum,UnitNum,V3,V4,EnrouteTime,OnSceneTime,Duration,EventType,Location,ZipCode,Longitude,Latitude,Year,Month,Day,UnitType,Station
0,1,1801010017,A073,73,43439,'20180101 00:37:13','20180101 00:44:49',456,FESWC2,'8200 CREEKBEND DR,HO','-95523931','29665469',18,1,1,A,073
1,2,1801010147,A073,73,43439,'20180101 02:12:21','20180101 02:16:59',278,FEPSAI,'10600 SOUTH DR,HO','-95566816','29667070',18,1,1,A,073
2,3,1801010002,A074,74,43024,'20180101 00:04:47','20180101 00:10:18',331,FEIJIA,'11900 AIRLINE DR,HO','-95409719','29930812',18,1,1,A,074
3,4,1801010029,A074,74,43024,'20180101 00:33:07','20180101 00:40:31',444,FEASAI,'15300 IMPERIAL VALLEY DR,HO','-95400891','29924452',18,1,1,A,074
4,5,1801010081,A074,74,43024,'20180101 01:10:06','20180101 01:15:45',339,FEASAI,'15400 W HARDY RD,HO','-95383175','29939780',18,1,1,A,074

In [5]:
cad=cad.drop(['V4','Station'], axis=1)

In [6]:
cad.rename({'V3': 'Station'}, axis=1, inplace=True)

In [7]:
cad.head(5)

,Unnamed: 0,EventNum,UnitNum,Station,EnrouteTime,OnSceneTime,Duration,EventType,Location,ZipCode,Longitude,Latitude,Year,Month,Day,UnitType
0,1,1801010017,A073,73,'20180101 00:37:13','20180101 00:44:49',456,FESWC2,'8200 CREEKBEND DR,HO','-95523931','29665469',18,1,1,A
1,2,1801010147,A073,73,'20180101 02:12:21','20180101 02:16:59',278,FEPSAI,'10600 SOUTH DR,HO','-95566816','29667070',18,1,1,A
2,3,1801010002,A074,74,'20180101 00:04:47','20180101 00:10:18',331,FEIJIA,'11900 AIRLINE DR,HO','-95409719','29930812',18,1,1,A
3,4,1801010029,A074,74,'20180101 00:33:07','20180101 00:40:31',444,FEASAI,'15300 IMPERIAL VALLEY DR,HO','-95400891','29924452',18,1,1,A
4,5,1801010081,A074,74,'20180101 01:10:06','20180101 01:15:45',339,FEASAI,'15400 W HARDY RD,HO','-95383175','29939780',18,1,1,A

In [8]:
cad=cad.replace('\'','',regex=True)

In [9]:
cad.head(5)

,Unnamed: 0,EventNum,UnitNum,Station,EnrouteTime,OnSceneTime,Duration,EventType,Location,ZipCode,Longitude,Latitude,Year,Month,Day,UnitType
0,1,1801010017,A073,73,20180101 00:37:13,20180101 00:44:49,456,FESWC2,8200 CREEKBEND DR,HO,-95523931,29665469,18,1,1,A
1,2,1801010147,A073,73,20180101 02:12:21,20180101 02:16:59,278,FEPSAI,10600 SOUTH DR,HO,-95566816,29667070,18,1,1,A
2,3,1801010002,A074,74,20180101 00:04:47,20180101 00:10:18,331,FEIJIA,11900 AIRLINE DR,HO,-95409719,29930812,18,1,1,A
3,4,1801010029,A074,74,20180101 00:33:07,20180101 00:40:31,444,FEASAI,15300 IMPERIAL VALLEY DR,HO,-95400891,29924452,18,1,1,A
4,5,1801010081,A074,74,20180101 01:10:06,20180101 01:15:45,339,FEASAI,15400 W HARDY RD,HO,-95383175,29939780,18,1,1,A

In [12]:
cad.shape

(3285592, 16)

In [13]:
cad.to_csv (r'cad_a.csv', index = None, header=True)